
<div class="container panel">
    <div class="row">
		  <div class="col-md-4 col-md-offset-4 ">
     	
    			<h1><%=@vuelo.descripcion%></h1>
    <%if socio_signed_in?&&es_admin? %>
    	 <%= form_for(@silla) do |f| %>
      <% if @silla.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@silla.errors.count, "error") %> prohibited this silla from being saved:</h2>

            <ul>
              <% @silla.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
        </div>
          <% end %>

        <div class="actions">


          <%= f.submit %>
        </div>

      <% end %>
      <%elsif(socio_signed_in?)%>
         <%= form_for(@reserva) do |f| %>
          <%= f.submit %>
         <%end%>
      <%end%>

    			<p id="notice"><%= notice %></p>

    			<%= link_to 'Edit', edit_vuelo_path(@vuelo) %> |
    			<%= link_to 'Back', vuelos_path %>
        </div>
	   </div>
</div>