<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Aereolinia UdeA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'Home','/' %>
                
        <%if socio_signed_in? %>
       
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuenta<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  
                  <li><a href="#">Configurar Cuenta</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><%=link_to "Cerrar sesión",destroy_socio_session_path, method: "delete"%> </a></li>
                </ul>
                </li>
                    <%if es_admin? %>
                      <li><%=link_to'Crear Vuelo','/vuelos/new'%></li>
                    <%end%>
                <%else%>
                 <li><%=link_to'Iniciar Sesion',new_socio_session_path%></li>
                 <li><%=link_to 'Registrase',new_socio_registration_path %></li>
        <%end%>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>